<html>
  <head><title>Thanks for your order!</title></head>
  <body>
    <h1>Thanks for your order!</h1>
    <p>
      FUCK YOU FOR NOT BUYING MOTHERFUCKER !!!</br>
Go Back to <a href='/shop'>shop</a> and find something.</p>
  </body>
</html>

